.llista{
    margin-top: 10px;
    margin-left: 10px;
    line-height: 2.5;
    font-size: small;
}

label {
    margin-left: 5px;
}

select {
    margin-left: 20px;
}

h2 {
    margin-top: 10px;
}

p {
    margin-top: 10px;
    font-size: smaller;
}